extends ../layout/contents.pug

block styles
  link(rel="stylesheet", href="/css/contents.min.css")

block content
  .container-fluid.no-gutters
    .row
      .col-xs.banner-container
        .banner-border-top
        .banner(style='background-image: url(' + bannerSrc + ')')
        .banner-silhouette
        .banner-border-bottom
        
  .container.page-container
    .row
      .col-xs.breadcrumbs-container
        a.breadcrumb-item(href="/")
          |Etusivu
        each breadcrumb in breadcrumbs
          a.breadcrumb-item(href='/sisalto' + breadcrumb.path)
            =breadcrumb.title
        span.breadcrumb-item.active
          !=title
  .container.page-container
    .row
      .col-lg-5.page-nav.no-gutters.hidden-md-down
        h3
          =folderTitle
        each sibling in siblings
          if sibling.id == id
            .page-nav-item.active
              a(href=sibling.slug)
                =sibling.title
              ul.child-pages
                each child in children
                  li
                    a(href=slug+'/'+child.slug)
                      =child.title
          else
            a.page-nav-item(href=sibling.slug)
              =sibling.title
      .col-xs-24.hidden-lg-up
        a.btn.btn-primary(title='Näytä valikko', data-toggle='collapse', href='#collapse-menu', aria-expanded='false', aria-controls='collapse-menu')
          i.fa.fa-bars
        .collapse#collapse-menu
          .col-xs-24.col-lg-5.page-nav.no-gutters
            each sibling in siblings
              if sibling.id == id
                .page-nav-item.active
                  a(href=sibling.slug)
                    =sibling.title
                  ul.child-pages
                    each child in children
                      li
                        a(href=slug+'/'+child.slug)
                          =child.title
              else
                a.page-nav-item(href=sibling.slug)
                  =sibling.title
      .col-xs-24.col-lg-14
        .page-content
          h1
            !=title
          .featured-image(style='background-image: url(' + featuredImageSrc + ')')
          !=contents
      .col-xs-24.col-lg-5.sidebar
        .sidebar-block
          h3
            |Palvelun tuottaa
          p
            |Yleiset kulttuuripalvelut
            br
            |Maaherrankatu 9-11 
            br
            |50100 Mikkeli PL 206
            br
            |50101 Mikkeli
        .sidebar-block
          h3
            |Palvelun tuottaa
          p
            |Yleiset kulttuuripalvelut
            br
            |Maaherrankatu 9-11 
            br
            |50100 Mikkeli PL 206
            br
            |50101 Mikkeli
        