extends ../layout/index.pug

mixin event(event) 
  .swiper-slide.col-lg-8.no-gutters
    .event-container
      .event(data-lazy-bg-image=event.imageSrc)
        a.event-link(href=event.originalUrl,target="_blank")
        .details
          .row
            .col-xs-10.no-gutters
              .date
                =event.shortDate
            .col-xs-14.no-gutters
              .place
                =event.place    
              .name
                =event.name 

mixin newsArticleTop(article)
  .news-article.top-article(data-lazy-bg-image=article.imageSrc)
    .details
      .date
        =article.shortDate
      .title
        a(href='/uutiset/' + article.slug)
          !=article.title
    .border
mixin newsArticleThumb(article)
  .news-article.thumb-article(data-lazy-bg-image=article.imageSrc)
    .details
      .date
        =article.shortDate
      .title
        a(href='/uutiset/' + article.slug)
          !=article.title

mixin newsArticleText(article)
  .news-article.text-article
    .date
      =article.shortDate
    .title
      a(href='/uutiset/' + article.slug)
        !=article.title
      
mixin banner(banner)
  .header-banner-item(data-lazy-bg-image=banner.imageSrc,data-lazy-bg-size='.carousel-inner')
    .container.banner-content-container
      if banner.link
        a.banner-link(href=banner.link,target="_blank")
      h1(style=banner.style)
        =banner.title
      .banner-text-container
        .banner-text(style=banner.style)
          !=banner.contents
      
mixin banners-slider(banners) 
  .header-banner
    if menus['suositut']
      .banner-popular
        h3
          |Suosituimmat      
        ul
        each item in menus['suositut'].items
          li.nav-item
            a.nav-link(href=item.url)
              =item.label
    .header-border-top
    #banner-slide.carousel.slide(data-ride='carousel')
      .banner-carousel-indicators
        ol.carousel-indicators
          each banner, bannerIndex in banners
            li(data-target='#banner-slide', data-slide-to='#{bannerIndex}')
      .banner-carousel-items
        .carousel-inner(role='listbox')
          each banner, bannerIndex in banners
            - var itemClass=bannerIndex == 0 ? "carousel-item active" : 'carousel-item'
            div(class=itemClass)
              +banner(banner)
      .banner-carousel-controls
        a.left.carousel-control(href='#banner-slide', role='button', data-slide='prev')
          span.icon-prev(aria-hidden='true')
          span.sr-only Previous
        a.right.carousel-control(href='#banner-slide', role='button', data-slide='next')
          span.icon-next(aria-hidden='true')
          span.sr-only Next
    .header-border-bottom
    
mixin tile(tile)
  .tile(data-lazy-bg-image=tile.imageSrc)
    if tile.link
      a.tile-link(href=tile.link,target="_blank")
    .details
      h3
        span
          !=tile.title
      p
        !=tile.contents
      
block styles
  link(rel="stylesheet", href="/css/index.min.css")

block scripts
  script(defer="defer", type="text/javascript", src="//cdn.metatavu.io/libs/bigtext/0.1.8/bigtext.js")
  script(defer="defer", type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.1.1/masonry.pkgd.min.js")
  script(defer="defer", type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js")
  script(defer="defer", type="text/javascript", src="/js/index.js")

block content
  .container-fluid.no-gutters
    .row
      .col-xs-24
        +banners-slider(banners)
        
  .container.no-gutters
    .row
      .col-xs
        .row
          .col-lg-18
            .row
              .col-xs.no-gutter-left.top-article-container
                if news.top
                  +newsArticleTop(news.top)
            .row
              .col-xs.no-gutter-left.thumb-articles-container
                .row
                  each newsArticle in news.thumbs
                    .col-md-12
                      +newsArticleThumb(newsArticle)
            .row
              .col-xs.no-gutter-left.text-articles-container
                each newsArticle in news.texts
                  .row
                    .col-xs
                      +newsArticleText(newsArticle)
            .row
              .col-xs.no-gutters
                a.all-news-link(href="/uutiset/")
                  | > Katso kaikki uutiset
          .col-lg-6.tiles.no-gutters
             each tile in tiles
               .row
                 .col-xs
                   +tile(tile)
              
  .container-fluid.no-gutters
    .row
      .col-xs
        .horizontal-line
        
  .container.no-gutters
    .row
      .col-xs.text-xs-center.events-title
        span
          |Tulevia tapahtumia mikkelissä
    .row
      .col-xs.events-container.no-gutters
        .swiper-container
          .swiper-wrapper
            each event in events
              +event(event)
          .swiper-pagination
          .swiper-button-next
          .swiper-button-prev
        .row
          .col-xs.text-xs-center.all-events-container
            span
              |Katso kaikki tapahtumat
            span
              | 
            a(href="http://www.mikkelinyt.fi",target="_blank")
              |www.mikkelinyt.fi
              
  .container-fluid.no-gutters
    .row
      .col-xs
        .content-blocks-container
          .container
            .row
              .col-lg-8
                .content-block.info-block
                  .icon
                  .title
                    |Osallistu ja vaikuta
                  .content
                    !=fragmentMap['osallistu-ja-vaikuta']
                  .all-link-container
                    a.all-link(href="#") 
                      |Katso kaikki
              .col-lg-8
                .content-block.jobs-block
                  .icon
                  .title
                    |Kuntarekry
                  .content
                    each job in jobs
                      .content-block-row
                        a(href=/tyot/ + job.id) #{job.title}
                        span #{job.employmentType}, #{job.taskArea}
                  if jobs && jobs.length
                    .all-link-container
                      a.all-link(href=/tyot/ + jobs[0].id) 
                        |Katso kaikki
              .col-lg-8
                .content-block.announcements-block
                  .icon
                  .title
                    |Kuulutukset
                  .content
                    each announcement in announcements
                      .content-block-row
                        a(href='/kuulutukset/' + announcement.slug)
                          =announcement.title
                        span
                          =announcement.shortDate
                  if announcements && announcements.length
                    .all-link-container
                      a.all-link(href='/kuulutukset/' + announcements[0].slug) 
                        |Katso kaikki
  .container
    .social-media-items
      .social-media-items-grid-sizer
      each socialMediaItem in socialMediaItems
        .social-media-item(data-source=socialMediaItem.source)
          .header
            case socialMediaItem.source
              when 'twitter'
                i.icon.fa.fa-twitter(aria-hidden="true")
              when 'facebook'
                i.icon.fa.fa-facebook-official(aria-hidden="true")
              when 'instagram'
                i.icon.fa.fa-instagram(aria-hidden="true")
            a.link(href=socialMediaItem.link, target="_blank")
              =socialMediaItem.shortDate
          .content
            if (socialMediaItem.image) 
              img(src=socialMediaItem.image)
            .text
              !=socialMediaItem.text
