extends ../layout/index.pug

mixin event(event) 
  .col-xs-8
    .event(style='background-image: url(' + event.imageSrc + '?size=480)')
      a.event-link(href=event.originalUrl,target="_blank")
      .details
        .row
          .col-xs-10.no-gutter-right
            .date
              =event.shortDate
          .col-xs-14
            .place
              =event.place    
            .name
              =event.name 

mixin newsArticleTop(article)
  .news-article.top-article(style='background-image: url(' + article.imageSrc + '?size=350)')
    .date
      =article.shortDate
    .details
      .title
        !=article.title
      .abstract
        !=article.abstract
    .border
mixin newsArticleThumb(article)
  .news-article.thumb-article(style='background-image: url(' + article.imageSrc + '?size=350)')
    .date
      =article.shortDate
    .details
      .title
        !=article.title
      .abstract
        !=article.abstract

mixin newsArticleText(article)
  .news-article.text-article
    .date
      =article.shortDate
    .title
      =article.title
      
mixin banner(banner)
  .header-banner-item(style='background-image: url(' + banner.imageSrc + ')')
    if banner.link
      a.banner-link(href=banner.link,target="_blank")
    h1
      =banner.title
    p
      !=banner.contents
      
mixin banners-slider(banners) 
  .header-banner
    .header-border-top
    #banner-slide.carousel.slide(data-ride='carousel')
      .banner-carousel-indicators
        ol.carousel-indicators
          each banner, bannerIndex in banners
            li(data-target='#banner-slide', data-slide-to='#{bannerIndex}')
      .banner-carousel-items
        .carousel-inner(role='listbox')
          each banner, bannerIndex in banners
            - var itemClass=bannerIndex == 0 ? "carousel-item active" : 'carousel-item'
            div(class=itemClass)
              +banner(banner)
      .banner-carousel-controls
        a.left.carousel-control(href='#banner-slide', role='button', data-slide='prev')
          span.icon-prev(aria-hidden='true')
          span.sr-only Previous
        a.right.carousel-control(href='#banner-slide', role='button', data-slide='next')
          span.icon-next(aria-hidden='true')
          span.sr-only Next
    .header-silhouette
    .header-border-bottom
      
mixin tile(tile)
  .tile(style='background-image: url(' + tile.imageSrc + ')')
    if tile.link
      a.tile-link(href=tile.link,target="_blank")
    .details
      h3
        !=tile.title
      p
        !=tile.contents
      
block styles
  link(rel="stylesheet", href="/css/index.min.css")

block scripts
  script(defer="defer", type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.1.1/masonry.pkgd.min.js")
  script(defer="defer", type="text/javascript", src="/js/index.js")

block content
  .container-fluid.no-gutters
    .row
      .col-xs
        +banners-slider(banners)

  .container.no-gutters
    .row
      .col-xs
        .row
          .col-xs-18
            .row
              .col-xs.no-gutter-left.top-article-container
                +newsArticleTop(news.top)
            .row
              .col-xs.no-gutter-left.thumb-articles-container
                .row
                  each newsArticle in news.thumbs
                    .col-xs-12
                      +newsArticleThumb(newsArticle)
            .row
              .col-xs.no-gutter-left.text-articles-container
                each newsArticle in news.texts
                  .row
                    .col-xs
                      +newsArticleText(newsArticle)
          .col-xs-6.tiles.no-gutter-right
             each tile in tiles
               .row
                 .col-xs
                   +tile(tile)
        .row
          .col-xs.no-gutters
            a.all-news-link(href="#")
              | > Katso kaikki uutiset
              
  .container-fluid.no-gutters
    .row
      .col-xs
        .horizontal-line
        
  .container.no-gutters
    .row
      .col-xs.text-xs-center.events-title
        span
          |Tulevia tapahtumia mikkelissä
    .row
      .col-xs
        #event-slide.carousel.slide(data-ride='carousel')
          .event-carousel-indicators
            ol.carousel-indicators
              each eventPage, pageIndex in eventPages
                li(data-target='#event-slide', data-slide-to='#{pageIndex}')
          .event-carousel-items
            .carousel-inner(role='listbox')
              each pageEvents, pageIndex in eventPages
                - var itemClass=pageIndex == 0 ? "carousel-item active" : 'carousel-item'
                div(class=itemClass)
                  .row
                    each event in pageEvents
                      +event(event)
          .event-carousel-controls
            a.left.carousel-control(href='#event-slide', role='button', data-slide='prev')
              span.icon-prev(aria-hidden='true')
              span.sr-only Previous
            a.right.carousel-control(href='#event-slide', role='button', data-slide='next')
              span.icon-next(aria-hidden='true')
              span.sr-only Next
        .row
          .col-xs.text-xs-center.all-events-container
            span
              |Katso kaikki tapahtumat
            span
              | 
            a(href="www.mikkelinyt.fi",target="_blank")
              |www.mikkelinyt.fi
              
  .container-fluid.no-gutters
    .row
      .col-xs
        .content-blocks-container
          .container
            .row
              .col-xs-8
                .content-block.info-block
                  .icon
                  .title
                    |Osallistu ja vaikuta
                  .content
                    p
                      |Ole mukana kehittämässä kaupunkia ja sen toimintaa
                    .content-block-row
                      a(href='https://www.webropolsurveys.com/Answer/SurveyParticipation.aspx?SDID=Fin971074&SID=5c479b36-9852-4502-aaf3-35fa0c6c1e9d&dy=1491185761', target='_blank') Palautelomake
                    .content-block-row
                      a(href='https://www.kuntalaisaloite.fi/fi', style='line-height: 1.53em', target='_blank') Kuntalaisaloite.fi
                    .content-block-row
                      a(href='https://www.nuortenideat.fi/fi/', target='_blank') https://www.nuortenideat.fi/fi/
                    .content-block-row
                      a(href='http://www.demokratia.fi/', target='_blank') http://www.demokratia.fi/
                  .all-link-container
                    a.all-link(href="#") 
                      |Katso kaikki
              .col-xs-8
                .content-block.jobs-block
                  .icon
                  .title
                    |Kuntarekry
                  .content
                    .content-block-row
                      a(href='#', target='_blank') Avoin työtehtävä
                      span
                        Lorem ipsum dela rossen, Mikkeli
                    .content-block-row
                      a(href='#', target='_blank') Avoin työtehtävä
                      span
                        Lorem ipsum dela rossen, Mikkeli
                    .content-block-row
                      a(href='#', target='_blank') Avoin työtehtävä
                      span
                        Lorem ipsum dela rossen, Mikkeli
                    .content-block-row
                      a(href='#', target='_blank') Avoin työtehtävä
                      span
                        Lorem ipsum dela rossen, Mikkeli
                  .all-link-container
                    a.all-link(href="#") 
                      |Katso kaikki
              .col-xs-8
                .content-block.announcements-block
                  .icon
                  .title
                    |Kuulutukset
                  .content
                    .content-block-row
                      a(href='#', target='_blank') 01.01.2010
                      span
                         |Kuuluuko, kuuluuko - kuuntelen.
                    .content-block-row
                      a(href='#', target='_blank') 01.01.2010
                      span
                         |Kuuluuko, kuuluuko - kuuntelen.
                    .content-block-row
                      a(href='#', target='_blank') 01.01.2010
                      span
                         |Kuuluuko, kuuluuko - kuuntelen.
                    .content-block-row
                      a(href='#', target='_blank') 01.01.2010
                      span
                         |Kuuluuko, kuuluuko - kuuntelen.
                  .all-link-container
                    a.all-link(href="#") 
                      |Katso kaikki
  .container
    .social-media-items
      .social-media-items-grid-sizer
      each socialMediaItem in socialMediaItems
        .social-media-item(data-source=socialMediaItem.source)
          .header
            case socialMediaItem.source
              when 'twitter'
                i.icon.fa.fa-twitter(aria-hidden="true")
              when 'facebook'
                i.icon.fa.fa-facebook-official(aria-hidden="true")
              when 'instagram'
                i.icon.fa.fa-instagram(aria-hidden="true")
            a.link(href=socialMediaItem.link, target="_blank")
              =socialMediaItem.shortDate
          .content
            if (socialMediaItem.image) 
              img(src=socialMediaItem.image)
            .text
              !=socialMediaItem.text
