extends ../layout/contents.pug

include ../includes/mixins.pug

block styles
  link(rel="stylesheet", href="/css/contents-common.min.css")
  link(rel="stylesheet", href="/css/jobs.min.css")

block content
  .container-fluid.no-gutters
    .row
      .col-xs.banner-container
        .banner(data-lazy-bg-image=bannerSrc)
      
  .container.page-container
    .row
      +breadcrumbs(breadcrumbs)
        
  .container.page-container
    .row
      nav.col-lg-5.page-nav.no-gutters.hidden-md-down
        p(class="nav-folder-title")
          =folderTitle
        each job in jobs
          if job.id == activeJob.id
            .page-nav-item.active
              a(title=job.title, href=job.id)
                !=job.title
          else
            a.page-nav-item(title=job.title, href=job.id)
              !=job.title
      .col-xs-24.hidden-lg-up
        a.btn.btn-primary.btn-menu(title='Näytä valikko', data-toggle='collapse', href='#collapse-menu', aria-expanded='false', aria-controls='collapse-menu')
          i.fa.fa-bars
        .collapse#collapse-menu
          .col-xs-24.col-lg-5.page-nav.no-gutters
            each job in jobs
              if job.id == activeJob.id
                .page-nav-item.active
                  a(title=job.title, href=job.id)
                    !=job.title
              else
                a.page-nav-item(title=job.title, href=job.id)
                  !=job.title
      .col-xs-24.col-lg-14
        .page-content
          h1
            =activeJob.title
          h2
            |Organisaatio
          p
            =activeJob.organisationalUnit
          h2
            |Sijainti
          p  
            =activeJob.location
          h2
            |Hakuaika päättyy
          p
            =activeJob.endTime
          h2
            |Työn luonne
          p
            =activeJob.duration
          h2
            |Työn kuvaus
          p
            !=activeJob.description
          p
            |Lisätietoja saat&nbsp;
            a(title=activeJob.link,href=activeJob.link, target='_blank')
              |Kuntarekryn sivulta          