extends ../layout/contents.pug

include ../includes/mixins.pug

block scripts
  script(defer="defer",type="text/javascript", src="//cdn.metatavu.io/libs/jquery-lazyload/1.9.7/jquery.lazyload.min.js")
  script(defer="defer",type="text/javascript", src="/js/news-article.js")

block styles
  link(rel="stylesheet", href="/css/contents-common.min.css")
  link(rel="stylesheet", href="/css/news.min.css")

block content
  .container-fluid.no-gutters
    .row
      .col-xs.banner-container
        .banner(data-lazy-bg-image=bannerSrc)
      
  .container.page-container
    .row
      +breadcrumbs(breadcrumbs)
        
  .container.page-container
    .row
      .col-lg-5.page-nav.no-gutters.hidden-md-down
        h3
          =folderTitle
        each sibling in siblings
          if sibling.id == id
            .page-nav-item.active
              a(href=sibling.slug)
                !=sibling.title
          else
            a.page-nav-item(href=sibling.slug)
              !=sibling.title
        a.all-news-link(href="/uutiset/")
          |Katso kaikki uutiset
      .col-xs-24.hidden-lg-up
        a.btn.btn-primary.btn-menu(title='Näytä valikko', data-toggle='collapse', href='#collapse-menu', aria-expanded='false', aria-controls='collapse-menu')
          i.fa.fa-bars
        .collapse#collapse-menu
          .col-xs-24.col-lg-5.page-nav.no-gutters
            each sibling in siblings
              if sibling.id == id
                .page-nav-item.active
                  a(href=sibling.slug)
                    !=sibling.title
              else
                a.page-nav-item(href=sibling.slug)
                  !=sibling.title
      .col-xs-24.col-lg-14
        .page-content
          .row
            .col-xs-24.title-container
              h1
                !=title
          .row
            .col-xs-24.image-container
              img.article-img.lazy(data-original=imageSrc)
          .row
            .col-xs-24
              !=contents
          .row
            .col-xs-24.tags
               each tag in tags
                a.tag(href='/uutiset/?tag=' + tag)
                  =tag
          .row
            .col-xs-24
              #disqus_thread
              script.
                var disqus_config = function () {
                this.page.url = "#{siteUrl}";
                this.page.identifier = "#{slug}";
                };
                (function() {
                var d = document, s = d.createElement('script');
                s.src = 'https://mikkeli.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
              noscript
                | Please enable JavaScript to view the 
                a(href='https://disqus.com/?ref_noscript') comments powered by Disqus.
          
      if sidebarContents
        .col-xs-24.col-lg-5.sidebar
          !=sidebarContents