extends ../layout/contents.pug

include ../includes/mixins.pug

block scripts
  script(defer="defer",type="text/javascript", src="//cdn.metatavu.io/libs/jquery-lazyload/1.9.7/jquery.lazyload.min.js")
  script(defer="defer",type="text/javascript", src="/js/news-article.js")

block styles
  link(rel="stylesheet", href="/css/contents-common.min.css")
  link(rel="stylesheet", href="/css/news.min.css")

block content
  .container-fluid.no-gutters
    .row
      .col-xs.banner-container
        .banner(data-lazy-bg-image=bannerSrc)
      
  .container.page-container
    .container-fluid
      .row
        .col-lg-17.col-md-14.no-gutters
          +breadcrumbs(breadcrumbs)
        .col-lg-7.col-md-10.col.no-gutters
          if readSpeakerCustomerId
            .col-xs.read-speaker-wrapper.no-gutters
              .read-speaker-container
                if locale.readSpeaker.enabled == true
                  +readSpeaker(readSpeakerCustomerId)
        
  .container.page-container
    .row
      nav.col-lg-5.page-nav.no-gutters.hidden-md-down
        if(folderTitle)
          p(class="nav-folder-title")
            =folderTitle
        each sibling in siblings
          if sibling.id == id
            .page-nav-item.active
              a(title=sibling.title, href=sibling.slug)
                !=sibling.title
          else
            a.page-nav-item(title=sibling.title, href=sibling.slug)
              !=sibling.title
        a.all-news-link(title="Katso kaikki uutiset", href="/uutiset/")
          |Katso kaikki uutiset
      .col-xs-24.hidden-lg-up
        a.btn.btn-primary.btn-menu(title='N채yt채 valikko', data-toggle='collapse', href='#collapse-menu', aria-expanded='false', aria-controls='collapse-menu')
          i.fa.fa-bars
        .collapse#collapse-menu
          .col-xs-24.col-lg-5.page-nav.no-gutters
            each sibling in siblings
              if sibling.id == id
                .page-nav-item.active
                  a(title=sibling.title, href=sibling.slug)
                    !=sibling.title
              else
                a.page-nav-item(title=sibling.title, href=sibling.slug)
                  !=sibling.title
      .col-xs-24.col-lg-14
        .page-content(tabindex="0")
          .row
            .col-xs-24.title-container
              h1
                !=title
          .row
            .col-xs-24.date-container
              p
                !=published
          .row
            .col-xs-24.image-container
              img.article-img.lazy(src=imageSrc, alt="Artikkelin kuva", title="Artikkelin kuva")
          .row
            .col-xs-24
              .rs_read_this_class
                !=contents
          .row
            .col-xs-24.tags
               each tag in tags
                a.tag(title=tag, href='/uutiset/?tag=' + tag)
                  =tag
          .row
            .col-xs-24.social-buttons
              p Jaa:

              a(title="Jaa facebookissa", href='https://www.facebook.com/share.php?u='+siteUrl)
                i(class="fa fa-facebook-official")
              a(title="Jaa twitteriss채", href='http://twitter.com/share?text=' + ogTitle + '&url=' + siteUrl)
                i(class="fa fa-twitter-square")
              a(title="Jaa whatsupissa", href='whatsapp://send?text=' + siteUrl, data-action='share/whatsapp/share')
                i(class="fa fa-whatsapp")
              a(title="Jaa linkediniss채", href='https://www.linkedin.com/shareArticle?mini=true&url=' + siteUrl + '&title=' + ogTitle + '&summary=' + summary + '&source=mikkeli.fi')
                i(class="fa fa-linkedin-square")
          .row
            .col-xs-24
              #disqus_thread
              script.
                var disqus_config = function () {
                this.page.url = "#{siteUrl}";
                this.page.identifier = "#{slug}";
                };
                (function() {
                var d = document, s = d.createElement('script');
                s.src = 'https://mikkeli.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
              noscript
                | Please enable JavaScript to view the 
                a(title="https://disqus.com/?ref_noscript",href='https://disqus.com/?ref_noscript') comments powered by Disqus.
          
      if sidebarContents
        .col-xs-24.col-lg-5.sidebar
          !=sidebarContents

block ogTags
  - var imageUrl = imageSrc ? baseUrl + imageSrc : baseUrl + '/gfx/mikkeli_logo.jpeg'
  meta(property='og:url', content=siteUrl)
  meta(property='og:title', content=ogTitle)
  meta(property='og:description', content=ogContent)
  meta(property='og:image', content=imageUrl)
